<a
  href="https://warp-themes.com/"
  target="_blank"
  class="relative w-full px-4 py-4 transition-transform ease-in-out rounded-md shadow-md sm:w-1/2 h-1/3 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 hover:scale-105 hover:cursor-pointer hover:shadow-lg"
>
  <p class="text-sm font-medium text-white/70">Theme Builder for Warp</p>
  <h3 class="text-lg font-bold text-neutral-50">Warp-Themes</h3>
  <div
    data-pattern
    class="absolute top-0 left-0 z-0 w-full h-full mix-blend-overlay opacity-20"
  >
  </div>

  <style>
    div[data-pattern=""] {
      background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='1'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  </style>
</a>
