---
import WarpCompanion from "./WarpCompanion.astro";
import WarpThemes from "./WarpThemes.astro";
---

<section
  class="flex flex-col space-y-4 sm:space-y-0 sm:space-x-4 sm:flex-row not-prose"
>
  <WarpThemes />
  <WarpCompanion />
</section>
