---
import config from "$config";

import BaseHead from "@components/Layouts/BaseHead.astro";

import "@fontsource/work-sans/variable.css";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={title ? title : config.site.title}
      description={description ? description : config.site.description}
    />
  </head>
  <body class="bg-neutral-50">
    <slot />
  </body>
</html>
