---
import Base from "./Base.astro";
---

<Base>
  <div
    class="p-4 prose prose-headings:text-lg prose-headings:font-medium md:mx-auto"
  >
    <div class="mt-4 md:mt-16 lg:mt-24">
      <slot />
    </div>
  </div>
</Base>
